/* Body */

body {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  font-family: "Suez One", serif;
  justify-content: center;
}

h2,
#userFinal {
  align-content: center;
  color: #7f2982;
  text-align: center;
  text-shadow: 3px 2px 4px #ffb100;
  font-size: 55px;
}

.card {
  display: flex;
  background-color: #8ef6f8;

  border: 3px solid #7f2982;
  border-radius: 8px;
  box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
  margin: 40px auto;
  padding: 20px;
  width: 70vw;
  height: 80vh;
}

p {
  color: #7f2982;
  font-size: 25px;
}

#start {
  font-family: "Suez One", serif;
  display: flex;
  background-color: #ffb100;
  border: 2px solid #7f2982;
  box-shadow: 2px 2px 2px #7f2982;
  border-radius: 8px;
  color: #7f2982;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  margin: 1px auto;
}
#possible,
#next {
  visibility: hidden;
}
.card div {
  color: #7f2982;
}
#possible button,
#next {
  font-family: "Suez One", serif;
  font-size: 22px;
  display: flex;
  background-color: #ffb100;
  border: 2px solid #7f2982;
  box-shadow: 2px 2px 2px #7f2982;
  border-radius: 8px;
  color: #7f2982;
  cursor: pointer;
  margin: 5px 0px;
  min-width: 50px;
  padding: 1px 10px;
  text-align: center;
}

.next {
  display: flex;
  max-width: 180px;
  text-align: center;
}
.submit {
  font-family: "Suez One", serif;
  font-size: 22px;
  display: flex;
  background-color: #ffb100;
  border: 2px solid #7f2982;
  box-shadow: 2px 2px 2px #7f2982;
  border-radius: 8px;
  color: #7f2982;
  cursor: pointer;
  margin: 5px 0px;
  min-width: 60px;
}
.timer {
  color: #7f2982;
  size: 50px;
  text-align: right;
}
form {
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  margin-top: 30px;
  max-width: 25vw;
}

.submitScore,
.highScore {
  display: flex;
  color: #7f2982;
  font-family: "Suez One", serif;
  font-size: 22px;
  background-color: #ffb100;
  border: 2px solid #7f2982;
  box-shadow: 2px 2px 2px #7f2982;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  padding-left: 50px;
}

input {
  font-size: 22px;
  font-family: "Suez One", serif;
  color: #7f2982;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #7f2982;
  border: 2px solid #7f2982;
}
#display {
  font-size: 25px;
  color: #7f2982;
  text-align: center;
  margin-top: 25px;
  text-shadow: 3px 2px 4px #ffb100;
}
